.device_error_page
    &_wrapper
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        min-height: 100vh
        .logo_block
            display: flex
            align-items: flex-end
            width: 11vw
            justify-content: center
            .logo_text
                font-size: 6vw
                color: #19202f
                line-height: 0.7
                font-weight: 700
        h1
            font-size: 2.6vw
            text-align: center
        .logo-image
            width: 60%
            height: auto