@import ../variables
.welcome-app
    .stat-bar
        position: absolute
        z-index: 1
        top: 10px
        left: 5%
        width: 90%
        height: 9px
        border-radius: 10px
        border: solid 0.4px rgb(82, 82, 82)
        overflow: hidden
        &::before
            position: absolute
            content: ''
            top: 0
            left: 0
            height: 10px
            width: 0
            background-color: $base-color
            transition: width .5s
    .StartButtonBlock
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%
        height: 100%   
        .BtnStart
            position: absolute   
            width: max-content
            left: 50%
            top: 50%  
            transform: translate(-50%, -50%)
            text-decoration: none
.reels-style
    height: 100vh
    padding-top: 30px
    overflow-x: hidden
    position: relative
    .reels-style-text
        color: #dedede
        text-shadow: 0px 0px 9px #382525
        h1
            font-weight: 300
            font-size: 26px
            text-align: center
            line-height: 48px
            letter-spacing: 0%
        h3
            font-weight: 300
            text-align: center
            line-height: 30px
            letter-spacing: 0%
            color: #d8b2b2
            a
                color: #c1c1ff
                text-decoration: underline
    .reels-other
        position: absolute
        bottom: 10px
        left: 0
        width: 100%
        .reels-style-image
            margin-bottom: 10px
            width: 100%
            height: auto

.container-settings-page
    position: relative
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, .54)