@use "./variables" as *
.wrapper_404
    background-color: #fefefe
    color: #0f1b34
    .not_found
        position: relative
        z-index: 1
        height: calc( 100dvh - 64px )
        display: flex
        justify-content: center
        align-items: center
        .not-found_text
            display: flex
            flex-direction: column
            align-items: center
            h1
                text-align: center
                margin: 0
            h3
                text-align: center
    .footer
        margin: 0
.not-found_bg
    position: absolute
    z-index: 0
    top: 50%
    left: 0
    transform: translateY(-50%)
    text-align: center
    font-size: 22rem
    font-weight: 900
    color: rgb(0 0 0 / 23%)
    width: 100%

@media screen and ( max-width: 992px )
    .not-found_bg
        font-size: 17rem

@media screen and ( max-width: 740px )
    .not-found_bg
        font-size: 11rem

@media screen and ( max-width: 768px )
    .wrapper_404 
        padding-bottom: 111px
        .not_found
            height: calc(100dvh - 111px)


@media screen and ( max-width: 460px )
    .not-found_bg
        font-size: 7rem