.info_page
    margin-top: 83.17px
    .info_page_block
        background-color: #fefefe
        color: #0f1b34
        min-height: 100dvh
        .info_page__wrapper
            max-width: 1280px
            margin: 0 auto
            padding: 0px 0px 20px 0px
            .info_header
                font-size: 32px
                font-weight: bold
                margin-bottom: 15px

@media screen and ( max-width: 1320px )
    .info_page
        .info_page_block
            .info_page__wrapper
                padding: 20px

@media screen and ( max-width: 767px )
    .info_page
        margin-top: 0
        padding-bottom: 111px