.header
    &.mobile
        border-top: 1px solid #e6e6e6
        position: fixed
        bottom: 0
        left: 0
        padding: 20px 20px
        height: max-content
        .header_wrapper
            max-width: 1280px
            margin: 0 auto
            display: flex
            justify-content: space-between
            align-items: center
            .header_items
                width: 100%
                display: flex
                align-items: center
                justify-content: center
                gap: 15px
                font-size: 14px
                .header_item
                    width: 25%
                    height: 70px
                    &:first-child
                        font-weight: normal
                    &:nth-of-type(2)
                        .item_content
                            .item_ico
                                padding-top: 3px
                    .item_content
                        display: flex
                        align-items: center
                        flex-direction: column
                        justify-content: space-between
                        height: 100%
                        gap: 4px
                        .item_ico
                            display: flex
                            align-items: center
                            justify-content: center
                            font-size: 22px
                            padding-top: 10px
                            .app_ico
                                width: 40px
                                height: 40px
                                flex-shrink: 0
                                display: block
                                background-color: #0059f4
                                padding: 6px
                                border-radius: 12px
                                object-fit: contain