.landing
    position: relative
    margin-top: 83.17px
    background-color: #fefefe
    color: #0f1b34
    .landing_page_subheader
        font-size: 16px
        font-weight: bold
        color: gray
    .landing_page_header
        font-weight: bold
        font-size: 24px

@media screen and ( max-width: 992px )
    .landing 
        .landing_page_header
            font-size: 19px
        .landing_page_subheader
            font-size: 14px

@media screen and ( max-width: 600px )
    .landing 
        .landing_page_header
            font-size: 18px
        .landing_page_subheader
            font-size: 13px

@media screen and ( max-width: 767px )
    .landing
        margin-top: 0
        padding-bottom: 111px