.AddCarPage
    padding-top: 20px
    .GetStartedPageBlock
        .GetStartedForm
            .VehicleParams
                margin-bottom: 1rem
                label
                    display: block
                    margin-bottom: 10px
                input, select
                    padding: 10px 15px
                    box-sizing: border-box
                    border: 0.06rem solid rgb(209, 209, 209)
                    border-radius: 16px
                    color: rgb(165, 165, 165)
                    font-size: 0.88rem
                    width: 100%
                .VehicleParams_select
                    appearance: none
                    -webkit-appearance: none
                    -moz-appearance: none
                    background: url('/ico/ui/angle-down-solid-full.svg') no-repeat right 15px center / 17px
